{{ template "header.html" . }}
<div  class="dex-login-container">

<div class="dex-login-banner" >
  <div style="display: flex; justify-content: start; align-items: end; height: 100%;">
    <div style="margin-bottom: 20px; margin-left: 20px;">
     <span style=" margin-bottom: 12px;"> <img height="36px" src="{{ url .ReqPath "/theme/openobserve_logo_light.svg" }}" alt="OpenObserve Logo" />
      </span>
      <div style="font-size: 24px; color: white; font-weight: 600;">
        Try OpenObserve today for more efficient and performant observability
      </div>
    </div>
  </div>
</div>

<div class="login-form-section">
  <div class="theme-panel" style="width: 100%;">
    <div class="openobserve-logo">
      <img src="{{ url .ReqPath "/theme/openobserve_logo.svg" }}" alt="OpenObserve Logo" />
    </div>
    <div class="theme-heading">Login to OpenObserve to start your free trial </div>
    <div id="login-buttons">
      {{ range $c := .Connectors }}
        <div class="theme-form-row">

            <a class="theme-btn-provider-link" style="width: 400px; border: 1px solid #e8e8e8; display: flex; justify-content: center; align-items: center; gap: 10px; text-decoration: none;" href="{{ $c.URL }}" target="_self">
            
              <button class="dex-btn theme-btn-provider login-btn">
                <span class="dex-btn-icon dex-btn-icon--{{ $c.Type }}"></span>
                <span class="dex-btn-text">Continue with {{ $c.Name }}</span>
              </button>

          </a>
        </div>
      {{ end }}
    </div>
  
  
  
  </div>
  <div style="height: 100px;">
    <div style="display: flex; gap:12px; align-items: center; flex-direction: column;">
      <div style="display: flex; gap: 12px; align-items: center;">
        <a class="dex-link" href="" target="_blank" style="text-decoration: none; color: #606Bda; font-size: 16px; font-weight: 500;">Terms of Use 

          <img src="{{ url .ReqPath "/theme/arrow_right.svg" }}" alt="right arrow" />
        </a>
        <a class="dex-link" href="" target="_blank" style="text-decoration: none; color: #606Bda; font-size: 16px; font-weight: 500;">Privacy Policy 
          <img src="{{ url .ReqPath "/theme/arrow_right.svg" }}" alt="right arrow" />
        </a>
      </div>
    <div style="color: #767676; font-size: 14px; font-weight: 400;">
      &copy; OpenObserve <span id="year"></span>
    </div>
  </div>
</div>

</div>
</div>

{{ template "footer.html" . }}


<script>
  const year = new Date().getFullYear();
  document.getElementById('year').innerHTML = year;
</script>

<style>
  .dex-login-container{
    height: calc(100vh);
    display: flex;
    flex-direction: row;
  }

  .dex-login-banner{
    display: flex;
    height: calc(100vh);
    width: 40%;
  }

  .login-form-section{
    background-color: white;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .theme-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 400px;
    max-width: calc(100% - 450px);
  }
  .theme-heading{
    color: #525252;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  .dex-btn-text{
    color: #828282;
  }
  .dex-link{
    display: flex;
    align-items: center;
  }


  @media (max-width: 768px) {
    .dex-login-container{
      height: calc(100vh - 60px);
    }
    .login-form-section{
      width: 100%;
    }
    .theme-panel{
      max-width: 100%;
    }
    .dex-login-banner{
      display: none;
    }
    .theme-btn-provider-link{
      width: 100%;
    }
  }
</style>
