{{ template "header.html" . }}

<div class="theme-panel">
  <h2 class="theme-heading">Create Your Account</h2>
  <form method="post" action="{{ .PostURL }}">
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="email">Email</label>
      </div>
      <input tabindex="1" required id="email" name="email" type="email" class="theme-form-input" placeholder="email@example.com" {{ if .Email }} value="{{ .Email }}" {{ else }} autofocus {{ end }}/>
    </div>
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="password">Password</label>
      </div>
      <input tabindex="3" required id="password" name="password" type="password" class="theme-form-input" placeholder="password (min 8 characters)" minlength="8" {{ if .Invalid }} autofocus {{ end }}/>
    </div>
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="token">Validation Token</label>
      </div>
      <input tabindex="4" readonly required id="token" name="token" type="text" class="theme-form-input" placeholder="validation token" {{ if .Invalid }} autofocus {{ end }}/>
    </div>
    <div class="theme-form-row">
      <button id="token-btn">Generate Token</button>
    </div>
    <input tabindex="5" readonly hidden id="csrf" name="csrf" type="text" class="theme-form-input" placeholder="" style="display: none;"/>
    {{ if .Invalid }}
      <div id="signup-error" class="dex-error-box">
        {{ .Error }}
      </div>
    {{ end }}

    <button tabindex="6" id="submit-signup" type="submit" class="dex-btn theme-btn--primary">Sign Up</button>

  </form>
  <div class="theme-link-back">
    <a class="dex-subtle-text" href="{{ .BackLink }}">Already have an account? Log in.</a>
  </div>
</div>


<script type="text/javascript">
  document.querySelector('form').onsubmit = function(e) {
    var el = document.querySelector('#submit-signup');
    el.setAttribute('disabled', 'disabled');
  };
  document.querySelector('#token-btn').onclick = (e)=>{
    e.preventDefault();
    document.querySelector("#token").readonly = false;
    // for firefox
    document.querySelector("#token").readOnly = false;
    let email = document.querySelector("#email").value;
    fetch("reset-token",{
      method:"POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({email})
    }).then((r)=>{
      return r.json();
    }).then((v)=>{
      document.querySelector("#csrf").value = v.csrfToken
    })
  }

</script>

{{ template "footer.html" . }}
